html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  text-align: center;
  padding-top: 17px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.center {
  justify-content: center;
}
header a {
  color: #fff;
  padding: 1rem;
}
a.brand {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
/* Image */
img {
  border-radius: .5rem;
  width: 100%;
}
img .medium {
  max-width: 29rem;
  width: 100%;
}
/* Card */
.card {
  border: .1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: .5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 1rem;
}
.price {
  font-size: 2rem;
  margin: 1rem;
}
/* Rating */
.rating {
  margin-left: 1rem;
}
.rating span {
  color: #f0c040;
  margin: .1rem;
}
.rating span:last-child {
  color: #000;
}